body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.entry-modal{
    border: 1px solid #ff0000;
    width: 300px;
    margin: auto;
    z-index: 9999;
    position: absolute;
    left: 50%;
    top: 70;
    margin-left: -150px;
    padding: 5px;
    color: #ff0000;
    background-color: #3399ff;
    text-align: center;
}

#notification{
    position: absolute;
    z-index: 1;
    text-align: center;
    color: ##ff0000;
    margin: 0;
    top: 47.33px;
    font-size: 18pt;
    width: 100%;
    background-color: #ff0000;
}


.room-input{
  border: none;
  padding:5px;
}

button{
    margin: 3px;
    padding: 5px;
}

#remote-video{
    top: 0;
    height: 100%;
    width: 100%;
    left: 0;
    background-color: #66b3ff;
    position: absolute;
}

#local-video{
    top: 60;
    width: 300;
    object-fit: cover;
    height: 150;
    z-index: 1;
    right: 15;
    background-color: #99ccff;
    position: absolute;
}